@model NhtLesson07.Models.NhtEmplyee

@{
    ViewData["Title"] = "NhtDetails";
}

<h1>NhtDetails</h1>

<div>
    <h4>NhtEmplyee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhtID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhtID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhtName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhtName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhtBirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhtBirthDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhtEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhtEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhtPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhtPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhtSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhtSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhtStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhtStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="NhtIndex">Back to List</a>
</div>
